.btn{
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $cream;
  color: $blue;
  padding: 10px 20px;
  border-radius: 100px;
  display: inline-block;
  margin: 20px 0;
  box-shadow: 0 8px 5px $black;

  &:active{
    box-shadow: 0 5px 3px $black;
    transform: translateY(2px);
  }
}
