*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'PT Sans Caption', sans-serif;
}
