.schedule{
  position: relative;
  // height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($black, .2), rgba($black, .2)), url('../img/yoga-building.jpg');
  @include backgroundImage;

  h2{
    text-align: center;
    font-size: 35px;
    padding: 20px 0;
  }

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  h5{
    font-size: 20px;
    padding: 10px 0;
  }
  p{
    padding: 3px 0;
    font-size: 14px;

    @media (min-width: $mid-break){
      font-size: 21px;
    }
  }
}
