//COLORS
$white: #fff;
$black: #000;
$cream: #feffdf;
$green-light: #dde0ab;
$green-light-2: #97cba9;
$blue: #668ba4;
$blue-light: #bad7df;
$red: #df0054;

//Breakpoints
$mid-break: 550px;
$big-break: 900px;
